body {
    background-color: rgb(85, 85, 85);
}

#gameContainer {
    margin-top:5%;
    width: 100%;
    text-align:center;
 }
 
 canvas {
    border: 10px solid black;
    border-radius: 5px;
    display: inline;
 }